.center {
  text-align: center;
  justify-content: center;
}

.no-shadow {
  box-shadow: none;
}

.medication {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.2rem;
  margin: 10px 0;
  text-align: left;
}

.line {
  border: 1px #bfbfbf dashed;
  margin: 10px 0 0 0;
}

#report {
  height: 100%;
  max-width: 90%;
  margin: auto;
}

#report-title {
  margin: 20px 0;
}

#report-data {
  border: 1px #9a9a9a solid;
  padding: 12px;
  max-height: 600px;
  max-width: 800px;
  overflow: scroll;
  margin: auto;
}

#one-year-toggle {
  margin-right: 15px;
  margin-bottom: 10px;
}

#report-button {
  margin-top: 12px;
}
