
.center{
  text-align: center;
}

.report-display {
  height:20rem;
  width:95%;
  border:1px solid grey;
  overflow:auto;
  padding: 1%;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.centerCard {
  margin-left: auto;
  margin-right: auto; 
}

